@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/*Footer CSS*/

.footer{
    background-color: #f3f4f6;
    border-top: 1px solid #e5e7eb;
    transition: background 0.3s, border 0.3s;
}

body.dark .footer{
    background: #0d1117;
    border-color: #1f2933;
}

.footer-container{
    max-width: 1280px;
    margin: auto;
    padding: 3rem 1rem;
}

.footer-grid{
    display: grid;
    gap: 2rem;
}

@media(min-width: 768px){
    .footer-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

.footer-name{
    font-size: 1.25rem;
    font-weight: 600;
    color: #26b4ab;
    margin-bottom: 1rem;
}

.footer-paragraph{
    color: #6b7280;
    font-style: italic;
    max-width: 260px;
}

body.dark .footer-paragraph{
    color: #9ca3af;
}

.footer-paragraph-name{
    font-size: 0.9rem;
    font-weight: 300;
    margin: 5px;
    
}

.section-title{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding-bottom: 14px;
}

.nav-list{
    list-style: none;
    padding: 0;
}

.nav-list li{
    margin-bottom: 0.7rem;
}

.nav-list button{
    background: none;
    border: none;
    cursor: pointer;
    color: #4a5565;
    transition: color 0.3s;
    font-weight: 550;
    font-size: 15px;
}

body.dark .nav-list button{
    color: #9ca3af;
}

.nav-list button:hover{
    color: #4ecdc4;
}

.social-icons{
    display: flex;
    gap: 0.75rem;
    margin-bottom: 1rem;
}

.social-icons a{
    padding: 0.55rem;
    background: #e5e7eb;
    border-radius: 0.5rem;
    border: 1px solid #d1d5db;
    align-items: center;
}

body.dark .social-icons a{
    background: rgba(31, 41, 55, 0.5);
}

.social-icons a:hover{
    border-color: rgba(78, 205, 196, 0.5);
}

.collab{
    font-size: 0.875rem;
}

body.dark .collab{
    color: #9ca3af;
}

.collab span{
    color: #26b4ab
}

.dowloads{
    border-top: 1px solid #e5e7eb;
    padding: 2rem 0 1rem;
}

body.dark .dowloads{
    border-color: #1f2933;
}

.dowloads h4{
    font-size: 0.95rem;
    color: #9ca3af;
    margin-bottom: 0.75rem;
}

.dowloads-link{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: 0.85rem;
    
}

.span-separator-dowload{
    color: #aeb2b9;
    font-size: 25px;
}

.dowloads-link button{
    background: none;
    border: none;
    cursor: pointer;
    color: #6b7280;
    font-weight: 600;
    font-size: 14px;
    transition: color 0.3;
}


body.dark .downloads-link button{
    color: #9ca3af;
}

.dowloads-link button:hover{
    color: #4ecdc4;
}

.footer-bottom{
    border-top: 1px solid #e5e7eb;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}


body.dark .footer-bottom{
    border-color: #1f2933;
}

.footer-bottom p{
    font-size: 0.85rem;
    color: #6b7280;
}


body.dark .footer-bottom p{
    color: #9ca3af;
}
@media (min-width: 640px){
    .footer-bottom{
        flex-direction: row;
    }
}

.scroll-to-top {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.85rem;
    color: #26b4ab;
    transition: color 0.3s;
}

.scroll-to-top:hover{
    color: #0d948b;
}





