@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/*Footer CSS*/

.footer{
    background-color: #f3f4f6;
    border-top: 1px solid #e5e7eb;
    transition: background 0.3s, border 0.3s;
}

body.dark .footer{
    background: #0d1117;
    border-color: #1f2933;
}

.footer-container{
    max-width: 1280px;
    margin: auto;
    padding: 3rem 1rem;
}

.footer-grid{
    display: grid;
    gap: 2rem;
}

@media(min-width: 768px){
    .footer-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

.footer-name{
    font-size: 1.25rem;
    font-weight: 600;
    color: #1f3197;
    margin-bottom: 1rem;
}

.footer-paragraph{
    color: #6b7280;
    font-style: italic;
    max-width: 260px;
}

body.dark .footer-paragraph{
    color: #9ca3af;
}

.footer-paragraph-name{
    font-size: 0.9rem;
    font-weight: 300;
    margin: 5px;
    
}

.section-title{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding-bottom: 14px;
}

.nav-list{
    list-style: none;
    padding: 0;
}

.nav-list li{
    margin-bottom: 0.7rem;
}

.nav-list button{
    background: none;
    border: none;
    cursor: pointer;
    color: #4a5565;
    transition: color 0.3s;
    font-weight: 550;
    font-size: 15px;
}

body.dark .nav-list button{
    color: #9ca3af;
}

.nav-list button:hover{
    color: #1f3197;
}

.social-icons{
    display: flex;
    gap: 0.75rem;
    margin-bottom: 1rem;
}

.social-icons a{
    padding: 0.55rem;
    margin-top: -11px;
    background: #e5e7eb;
    border-radius: 0.5rem;
    border: 1px solid #d1d5db;
    align-items: center;
}

body.dark .social-icons a{
    background: rgba(31, 41, 55, 0.5);
}

.social-icons a:hover{
    border-color: #1f3197;
    transition: 0.3s ease;
}

.collab{
    font-size: 0.875rem;
}

body.dark .collab{
    color: #9ca3af;
}

.collab span{
    color: #1f3197;
    font-weight: 600;
}

.dowloads{
    border-top: 1px solid #e5e7eb;
    padding: 2rem 0 1rem;
}

body.dark .dowloads{
    border-color: #1f2933;
}

.dowloads h4{
    font-size: 0.95rem;
    color: #9ca3af;
    margin-bottom: 0.75rem;
}

.dowloads-link{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: 0.85rem;
    
}

.span-separator-dowload{
    color: #aeb2b9;
    font-size: 25px;
}

.dowloads-link button{
    background: none;
    border: none;
    cursor: pointer;
    color: #6b7280;
    font-weight: 600;
    font-size: 14px;
    transition: color 0.3;
}


body.dark .downloads-link button{
    color: #9ca3af;
}

.dowloads-link button:hover{
    color: #1f3197;
    transition: 0.3s ease;
}

.footer-bottom{
    border-top: 1px solid #e5e7eb;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}


body.dark .footer-bottom{
    border-color: #1f2933;
}

.footer-bottom p{
    font-size: 0.85rem;
    color: #6b7280;
}


body.dark .footer-bottom p{
    color: #9ca3af;
}
@media (min-width: 640px){
    .footer-bottom{
        flex-direction: row;
    }
}

.scroll-to-top {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.85rem;
    color: #1f3197;
    transition: color 0.3s;
}

.scroll-to-top:hover{
    color: #121d58;
}
















/*Contact*/


.contact-section{
    padding: 5rem 1rem;
    background: linear-gradient(to bottom, #f9fafb, #ffffff);
    transition: background 0.3s ease;
}

.dark .contact-section{
    background: linear-gradient(to bottom, #0a0e1a, #0d1117);
}

.contact-container{
    max-width: 1280px;
    margin: 0 auto;
}
.contact-header{
    text-align: center;
    margin-bottom: 4rem;
}

.contact-header h2{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.contact-header h2::after{
    content: "";
  display: block;
  width: 90px;
  height: 4px;
  background-color: #000000;
  margin: 10px auto 0;
  border-radius: 4px;
}

.contact-header span{
    color: #1f3197;
}

.contact-header p{
    font-size: 1.2rem;
    color: #6b7280;
}

.dark .contact-header p{
    color: #9ca3af;
}


.contact-grid{
    display: grid;
    gap: 3rem;
}

@media(min-width: 1024px){
    .contact-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

.p-contact-info{
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 18px;
    padding-top: 11px;
}

.contact-left{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact-card{
    display: flex;
    gap: 1rem;
    padding: 1.3rem;
    background: #f9fafb;
    border: 1px solid #e5e7eb;
    border-radius: 0.75rem;
    margin-bottom: 24px;
    
}

.dark .contact-card{
    background: rgba(31,41,55,0.5);
    border-color: #374151;  
}

.contact-icon{
    padding: 0.5rem;
    background: #1f3197;
    border-radius: 0.5rem;
    color: white;
}


.contact-card p{
    margin: 0;
}

.contact-label{
    font-size: 0.8rem;
    color: #6b7280;
}

.dark .contact-label{
    color: #9ca3af;
}

.contact-value{
    color: #1f2933;
    text-decoration: none;
}

.dark .contact-value {
color: #e5e7eb;
}

.contact-value:hover{
    color: #1f3197;
}

.container-social{
    padding: 1.5rem;
    background: #f9fafb;
    border-radius: 0.75rem;
    border: 1px solid #e5e7eb;
}

.dark .container-social{
    background: rgba(31, 41, 55, 0.5);
    border-color: #374151;
}

.container-social-links{
    display: flex;
    gap: 16px;
}

.container-social-links a{
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    background: #ffffff;
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
    border: 1px solid rgb(219, 219, 219);
}

.dark .container-social-links a{
    background: rgba(17, 24, 39, 0.5);
    border-color: #374151;
}

.container-social-links a:hover{
    border-color: #1f3197;
}

.container-info-box{
    padding: 1.1rem;
    border-radius: 0.75rem;
    background: #f9fafb;
    border: 1px solid rgba(146, 158, 157, 0.3);
    margin-top: 24px;
    
}

.container-info-box h4{
        color: #1f3197;
    margin-bottom: 0.5rem;
}








input::placeholder,
textarea::placeholder{
    font-family: "Inter", sans-serif;
    color: #9ca3af;
    font-size: 14px;
}



.form-contact{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.form-contact label{
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: #374151;
    font-weight: 500;
}

.dark .form-contact label{
    color: #d1d5db;
}

.form-contact textarea,
.form-contact input{
    width: 100%;
    padding: 1.1rem 1rem;
    background: #ffffff;
    border: 1px solid #d1d5db;
    border-radius: 0.75rem;
    outline: none;
    transition: 0.3s;
}

.dark .form-contact textarea,
.dark .form-contact input{
        background: rgba(17,24,39,0.5);
    border-color: #374151;
    color: #f9fafb;
}

.form-contact input:focus,
.form-contact textarea:focus{
    border-color: #1f3197;
    box-shadow: 0 0 0 2px rgba(26, 55, 150, 0.3);
}

.contact-btn{
    padding: 1.1rem;
    background: #1f3197;
    border: none;
    border-radius: 0.75rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: 0.3s;
    font-size: 16px;
    color: white;
}

.contact-btn:hover{
    background: #182675;
    }

