.theme_toggle{
    position: relative;
    width: 64px;
    height: 32px;
    padding: 4px;

    background-color: #e5e7eb;
    border: 1px solid #d1d5db;
    border-radius: 999px;

    transition: background-color 0.3s ease, border-color 0.3s ease;
}

:global(.dark) .theme_toggle{
    background-color: #364153;
    border-color: #4b5563;
}

.toggle_circle{
    width: 24px;
    height: 24px;

    background-color: #ffffff;
    border-radius: 50%;

    box-shadow: 0 2px 6px rgba(0,0,0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;

}

:global(.dark) .toggle_circle{
background-color: #1f3197;
}

.sun_icon{
    color: #facc15;
}

.moon_icon{
    color: #111827;
}